
body {
font-family: Tahoma, Arial, sans-serif;
font-size:100%;
background:#262626;	
margin: 0;
padding: 0;
}

#full-width-header {
    position: absolute; /* necessary to
        absolute-position the child-element
        #home-link relative to the header */
	font-family: monospace", "Lucida Sans", "DejaVu Sans", sans-serif";
	font-weight: 600;
    font-size: 0.9em;
	color:#ffee10;
    width: 0px;
    height: 0px;
}

/* Here is the animation (keyframes) */
@keyframes fading {
    0% { opacity: 1; }
    100% { opacity: 0; }
	
}
  	#third-header {
    position: absolute; 
	font-family:Courier New", "monospace", "Lucida Sans", "DejaVu Sans", sans-serif";
    font-weight: 500;
    font-size: 0.9em;		
}
  	#fourth-header {
    position: absolute; 
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "sans-serif";
    font-weight: 900;
    font-size: 2.5em;
}
  	#fifth-header {
    position: absolute; 
	font-family:Tahoma, Arial, sans-serif;
    font-size: 10%;
    color: #262626;
}

div.container { background: transparent; }
iframe.lockframe { z-index: -2; }

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
	height: 320px;
	  display: flex;
  justify-content: center;
background-color: black;
  padding: 0.01em;
	border: solid 0.01em;
	  border-top: #ffee10;
  border-bottom-color: #ffee10;
}

h1{
  position: relative;
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  width: 70%;
  margin: 10px auto 10px auto;
}
@media screen and (max-width: 510px){
  h1{
    font-size: 50px;
  }
}
@media screen and (max-width: 360px){
  h1{
    font-size: 30px;
  }
}
.ac {
    background: #;
    margin: 0 auto;
    padding: 0 0px;
    /*position: relative;*/
    width: 1054px;
}

.damain {
	/*width: 100%;*/
	padding: 0 0px;
}

ul li {
  list-style: none;
  margin: 0 15px;
}

ul li a {
  position: relative; 
  display: block;
  width: 90px;
  height: 90px;
  text-align: center;
	 padding-left: 5px;
  line-height: 15px;
  background: #;
  border-radius: 120%;
  font-size: 100%;
  color: #ffee10;
  transition: .5s;
}

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 10%;
  height: 10%;
  border-radius: 120%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.5);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

ul li a:hover {
  color: #ffee10;
  box-shadow: 0 0 0px #ffee10;
  text-shadow: 0 0 15px #ffee10;
}

li img {
    box-shadow: 0 0 7px #ffee10;
	border-radius: 5px 5px 5px 5px;
	margin-left: 7px;
    padding: 7px;
	background: #;
}
li img:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

li img {
    height: 70px;
    width: 70px;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


/**/

a.tablink {
	text-decoration: none!important;
}

a.tablink.active {
	color: #;
	padding: 3px 10px;
	background: black;
	
}



.submenu {
	z-index: 1;
	position: relative;
    float:right;
	clear: both;
}


.center {
	text-align: center;	
}

.right {
	text-align:right;
	
}

/**//**//**/

.rtp-wrapper {
	width: 663px!important;
	height: 370px!important;
	float:right!important;
	clear: both!important;
	margin: 20px 0 0!important;
}

.beseed_rotator {
	float:right!important;
	clear: both!important;
	margin: 20px 0!important;
	width: 663px!important;
	height: 370px!important;
	padding-top: 0!important;
}
/*
.beseed_rotator iframe {
	width: 663px!important;
	height: 370px!important;
}
*/

.player iframe {
	width:100%;
	height:100%;
	overflow:hidden;
	border:0px;
	min-height: 15vw;
}

.center {
	text-align: center;	
}

.right {
	text-align:right;
	
}

}
#player{
	width: 100%!important;
	height: 100%!important;
}

.tabs {
	height: 22px;
    background: #ebebeb;
}

.bodyc {
	width: 90%;
	margin: 0 auto;	
}


@media only screen and (max-width: 2400px) {


.player iframe {
	width:100%;
	height:100%;
	overflow:hidden;
	border:0px;
	min-height: 25vw;
}

@media only screen and (max-width: 1230px) {

.ac {
	width: 900px;
}

.player iframe {
	width:100%;
	height:100%;
	overflow:hidden;
	border:0px;
	min-height: 35vw;
}



	
.dainner {
	width: 570px;
}
	

}
@media only screen and (max-width: 950px) {
.ac {
	width: 100%;
	padding: 0;
}
	
.dainner {
	width: 90%;
	float: none;
	margin: 15px 15px 0;
}

img.vb__phone {
	width: 100%!important;
}

.flash {
	width: 100%;
}

.programma {
	width: 100%;
}

.submenu {
    margin: 0 20px 20px;
}


.rtp-wrapper {
    float: none!important;
    width: 100%!important;
    max-height: 70vw!important;
}

.beseed_rotator {
    float: none!important;
    width: 100%!important;
    max-height: 70vw!important;	
}


.player img {
    max-width: 100%;
    height: auto;
}


.player iframe {
	width:100%;
	height:100%;
	overflow:hidden;
	border:0px;
	min-height: 60vw;
}
}

}